/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    height: 600px;
    position: relative;
  }
  
  .modal-image {
    width: 300px;
    border-radius: 8px 8px 0 0;
    height: auto;
  }
  
  .modal-title {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  
  .modal-price {
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
  }
  
  .modal-description {
    margin: 30px 50px;
    text-align: center;
  }
  
  .modal-close {
    position: absolute;
    top: 1px;
    left: 900px;
    border: none;
    background: transparent;
    font-size: 40px;
    cursor: pointer;
  }
  .modal-close:hover{
    color:red;
    transition: 0.3s;
  }