/* Container da aplicação */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app-container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* Navegação */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #ee7008;
  padding: 20px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  color: #f0f0f0;
}

/* Título da página */
h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
}

/* Galeria de produtos */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

/* Estilo do card de produto */
.product-card {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagem do produto */
.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 14px;
  border-radius: 10px;
}

/* Título do produto */
.product-card h3 {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  text-align: justify;
}

/* Preço do produto */
.product-card p {
  font-size: 18px;
  font-weight: bold;
  color: #787978;
  margin-top: 30px;
}

/* Botão de adicionar aos favoritos */
.product-card button {
  background-color: #1563f3;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  top: 60px;
}

.product-card button:hover {
  background-color: #1049b4;
}


